from django.conf import settings
from django.conf.urls import include
from django.urls import re_path
from wagtailmenus.tests import urls as test_urls

urlpatterns = []
if settings.DEBUG:
    import debug_toolbar
    urlpatterns += [
        re_path(r'^__debug__/', include(debug_toolbar.urls)),
    ]
urlpatterns += [
    re_path(r'', include(test_urls)),
]
