from django.conf import settings
from django.urls import include, path
from wagtailmenus.tests import urls as test_urls

urlpatterns = []
if settings.DEBUG:
    import debug_toolbar
    urlpatterns += [
        path('__debug__/', include(debug_toolbar.urls)),
    ]
urlpatterns += [
    path('', include(test_urls)),
]
