include LICENSE.txt
include README.md
recursive-include wagtailmenus *.html
recursive-include wagtailmenus *.py
recursive-include wagtailmenus/static *.js
recursive-include wagtailmenus/static *.css
recursive-include wagtailmenus/static *.scss
recursive-include wagtailmenus *.json
