{% load menu_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Wagtailmenus Test</title>
    </head>
    <body>
        <header role="banner">
            <div class="container">

                <a class="logo" href="/" title="Go to home page">Wagtailmenus Test</a>

                <nav role="navigation" class="navbar-default nav-main">
                    <div id="main-menu">
                        {% main_menu max_levels=2 use_specific=0 template="menus/custom_main_menu.html" sub_menu_template="menus/custom_sub_menu_dropdown.html" %}
                    </div>
                </nav>

                <div id="secondary-nav">
                    {% flat_menu 'header-secondary' max_levels=2 use_specific=USE_SPECIFIC_OFF template="menus/custom_flat_menu.html" sub_menu_template="menus/custom_sub_menu.html" %}
                </div>

            </div>
        </header>

        <main role="main">

            <div class="container content">

                <div class="row">

                    <div class="content-col">
                        <h1>{{ self.title }}</h1>
                        
                        <p>All tags on this page are called with <code>use_specific=0</code>.

                        <p>You can also use <code>use_specific=USE_SPECIFIC_OFF</code>, as that is present in the context and has the same value (<b>{{ USE_SPECIFIC_OFF }}</b>)</p>

                    </div>

                    <div class="side-col">
                        <div id="section-menu">
                            {% section_menu max_levels=2 use_specific=0 template="menus/custom_section_menu.html" sub_menu_template="menus/custom_sub_menu.html" %}
                        </div>
                    </div>
            </div>
        </main>

        <footer role="contentinfo">
            <div class="container">

                <div id="nav-contact">
                    {% flat_menu 'contact' use_specific=0 %}
                </div>

                <p class="rkh"><a href="http://www.rkh.co.uk/" target="_blank" title="Web design and development, Leicester">Website by Rock Kitchen Harris</a></p>
                
            </div>
        </footer>

    </body>
</html>
