<header class="w-header">
    <div class="row nice-padding">
        <div class="left">
            <div class="col header-title">
                <h1 class="w-header__title" id="header-title">
                <svg class="icon icon-list-ol w-header__glyph" aria-hidden="true"><use href="#icon-list-ol"></use></svg>
                {{ title }}{% if subtitle %} <span>{{ subtitle }}</span>{% endif %}</h1>
            </div>
        </div>
        <div class="right">
            {% block right_content %}{% endblock %}
        </div>
    </div>
</header>
